---
import style from "../styles/projects.module.css";

const projects = [
  {
    image: "/img/LMservice.jpeg",
    title: "Laptop master service",
    description:
      "Aplicacion movil de asginaciona de servicios sobre problemas de equipos para empresas o negocios, apartado de venta de equipos de computo y ubicacion de local con google maps",
    technologies: ["React native", "Firebase", "JavaScript"],
    code: "https://github.com/SCORP1ION/Laptop-Master-Service.git",
  },
  {
    image: "/img/PageDeepTeal.png",
    title: "Deep Teal",
    description: "Landing page creada para practica una landing page econ칩mica, r치pida de implementar y enfocada en generaci칩n de leads / contacto, con una sola acci칩n principal.",
    technologies: ["Astro", "HTML", "CSS"],
    code: "https://github.com/SCORP1ION/landing-DeepTealSolutions.git"
  },
];
---

<section class={style.projectGrid}>
  {
    projects.map((project) => (
      <article class={style.articleProyect}>
        <img src={project.image} />
        <p class={style.titulo}>{project.title}</p>
        <p class={style.descriptionProjecto}>{project.description}</p>

        <div class={style.tech}>
          {project.technologies.map((tech) => (
            <span>{tech}</span>
          ))}
        </div>
        <div class={style.codigo}>
          <a
            href={project.code}
            class={style.verCodigo}
            target="_blank"
            rel="noopener noreferrer"
          >
            View code
          </a>
        </div>
      </article>
    ))
  }
</section>
