---
import style from "../components/styles/projects.module.css";
---

<div class={style.LM}>
  <img class={style.IMGLM} src="/img/LMservice.jpeg" />
  <p class={style.titulo}>Laptop master service</p>
  <p class={style.descriptionProjecto}>
    Aplicacion movil de asginaciona de servicios sobre problemas de equipos para
    empresas o negocios, apartado de venta de equipos de computo y ubicacion de
    local con google maps
  </p>
  <span>React native</span>
  <span>Firebase</span>
  <span>JavaScript</span>
  <div class={style.codigo}>
    <a
      href="https://github.com/SCORP1ION/Laptop-Master-Service.git"
      class={style.verCodigo}>View code</a
    >
  </div>
</div>
 