---
import style from "../components/styles/sobreMi.module.css"
import BottomContact from "../components/UI/BottomContact.astro"
--- 

<section class={style.hero}>
  <img src="/img/me.jpeg" alt="photoMe" class={style.me}/>
    <h2 class={style.nombre}>Ricardo Garcia</h2>
    <p class={style.presentacion}>
      Que tal mi nombre es Ricardo Ivan Garcia Ramos y soy un egresado del Tecnologico Superior de Jalisco y tengo
      demasiada hambre de conocimiento y sed de aprender nuevas tecnologias, me
      encanta el desarollo web, movil y estoy en un curso para un certificado en
      cisco de ciberseguridad ya que es mi pasion
    </p> 
    <p class={style.Ubicacion}>Puerto Vallarta, Jalisco</p>

    <BottomContact/>
</section>