---
import styles from "../styles/hero/About.module.css"
---

<section class={styles.container}>
    <h1>THE JOURNEY</h1>
    <div class={styles.line}></div>
    <p class={styles.description}>My passion lies at the intersection of architecture and code. I don't just build websites; I engineer scalable ecosystems. With a deep fascination for cutting-edge techologies, I bridge the gap between complex backend systems and intuitive frontend experience</p>

    <div class={styles.divCard}>
        <span>Core Focus</span>
        <p class={styles.parrafo}>Specializing in Advanced Frontend Architecture and Web Security Systems.</p>
    </div>

</section>
