---
import style from "../styles/hero/sobreMi.module.css";
---

<section class={style.hero}>
  <div class={style.left}>
    <h2 class={style.textBig}>
      I build <strong>impactful</strong> digital solutions.
    </h2>

    <p class={style.presentacion}>
      Full-stack Software Enginner dedicated to crafting high-permformance, secure, and visually stuning web applications that solve real-world problems.
    </p>
  </div>

  <div class={style.right}>
    <img src="/img/me.jpeg" alt="photoMe" class={style.mePhoto} />
  </div>
</section> 