---
import styles from "../../styles/UI/FormContact.module.css";
---

<section class={styles.sectionContainer} id="contact">
  <div class={styles.divContainer}>
    <h1 class={styles.title}>
      LET'S BUILD <strong class={styles.strong}>SOMETHING GREAT</strong>
    </h1>
    <p class={styles.littleDescription}>
      Currenly open to freelance opportunities and junior engineering roles.
      Whether you have a question or just want to say hi, my inbox is always
      open
    </p>
    <p class={styles.emailPersonal}>scorpionip01010@gmail.com</p>
  </div>

  <form id="contact-form" class={styles.formContainer}>
    <label for="text" class={styles.formtexts}>Name</label>
    <input
      type="text"
      id="nombre"
      required
      placeholder="John Doe"
      class={styles.inputs}
    />

    <label for="email" class={styles.formtexts}>Email</label>
    <input
      type="email"
      id="email"
      placeholder="john@example.com"
      required
      class={styles.inputs}
    />

    <div>
      <label for="text" class={styles.formtexts}>Message</label>
      <textarea
        class={styles.inputs}
        name="comment"
        id="mensaje"
        rows="4"
        cols="50"
        required
        placeholder="Tell me about your project..."></textarea>
    </div>
    <p id="mensaje-exito" hidden class={styles.mensaje}>Email sent successfully!</p>
    <button type="submit">Send Inquiry</button>
  </form>
</section>

<script>
  const form = document.getElementById("contact-form") as HTMLFormElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const payload = {
      nombre: (document.getElementById("nombre") as HTMLInputElement)?.value,
      email: (document.getElementById("email") as HTMLInputElement)?.value,
      mensaje: (document.getElementById("mensaje") as HTMLTextAreaElement)
        ?.value,
      mensaje: (document.getElementById("mensaje") as HTMLTextAreaElement)?.value,
    };

    try {
      const response = await fetch("/api/contact", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(payload),
      });

      const data = await response.json();

      if (data.success) {
        const mensajeExito = document.getElementById("mensaje-exito");
        if (mensajeExito) mensajeExito.hidden = false;
        form.reset();
      } else {
        alert("Error al enviar el mensaje");
      }
    } catch (error) {
      console.error("Error en el envío:", error);
      alert("Error al enviar el mensaje");
    }
  });
</script>
