---
import style from "../../styles/components/tecnologies.module.css";

const svgs = [
  {
    ruta: "/icons/astro.svg",
    alt: "Astro",
  },
  {
    ruta: "/icons/cplusplus.svg",
    alt: "C++",
  },
  {
    ruta: "/icons/css.svg",
    alt: "CSS",
  },
  {
    ruta: "/icons/expo.svg",
    alt: "Expo",
  },
  {
    ruta: "/icons/flutter.svg",
    alt: "Flutter",
  },
  {
    ruta: "/icons/html5.svg",
    alt: "HTML",
  },
  {
    ruta: "/icons/javascript.svg",
    alt: "JavaScript",
  },
];
---

<section id="skill" class={style.sectionContainer}>
  <div class={style.skill}>
    <h1>SKILLS</h1>
  </div>
  <div class={style.skillGrid}>
    {
      svgs.map((skill) => {
        return (
          <div class={style.card}>
            <img src={skill.ruta} alt={skill.alt} class={style.icon} />
            <span>{skill.alt}</span>
          </div>
        );
      })
    }
  </div>
</section>
